<div style="display: flex; height: 100%;">
	<div class="main-info">
		<img src="/assets/img/my-wedding-fam.jpg" id="about-me-hdr">
		<h2 id="title" style="text-align: center;">ABOUT ME</h2>
		<div id="bio">
			{{!-- <p>$(bio).ready(welcome() { --}}
			<p>My name is James Cowart. I studied electrical engineering at Auburn University and earned my certification in Full Stack Web Development at the Georgia Institute of Technology. Through my studies at Georgia Tech, I was able to pursue my interests in back-end software and logic, a passion that originated from my deep-seated love of mathematics and algorithmic problem-solving.</p>
			{{!-- <p>For over six years, I worked as a Lead Web Developer for Big Picture Digital in Atlanta, GA. My proficiency in HTML, CSS, JavaScript, and Wordpress excelled in this position.</p> --}}
			<p>I currently work at 2U and Trilogy Education Services as an Instructional Evaluator and Academic Recruiter. I work closely with collegiate-level instructors and assess their technical and pedagogical abilities in a variety of fields, such as web development, data analysis, and cybersecurity. Looking forward, I plan to bring my server-side and client-side expertise to a position as a Full Stack Web Developer.</p>
			<p><strong>Frontend:</strong> React, HTML, CSS, SCSS, JavaScript, ES6, jQuery, APIs, Wordpress, Bootstrap, Handlebars</p>
			<p><strong>Backend:</strong> Node, NPM, Express, Java, C#, Visual Studio, MySQL, Firebase, MongoDB, GoogleCloud, AWS, Heroku</p>
			<p><strong>Design:</strong> Photoshop, UX/UI, Design Systems</p>
    	</div>
	</div>
</div>