<div style="display: flex; height: 100%;">
    <div class="main-info">
		<img src="/assets/img/hdr-about-me.jpg" id="about-me-hdr">
		<h2 id="title" style="text-align: center;">ABOUT ME</h2>
		<p>My name is James Cowart; I went to Auburn University and studied Electrical Engineering. For the last several years, I have worked for a brand & data service company named Big Picture Digital. Over the years, my skills in HTML, CSS, JavaScript, and Wordpress have excelled. I have always loved Math, so problem solving using algorithms had my interest piqued when I first began. I already work in Web Development, but completing the Bootcamp at Georgia Tech that I heave no completed will open many more doors.
    </div>
</div>