<div style="display: flex; height: 100%;">
	<div class="main-info">
		<img src="/assets/img/my-wedding-fam.jpg" id="about-me-hdr">
		<h2 id="title" style="text-align: center;">ABOUT ME</h2>
		<div id="bio">
			{{!-- <p>$(bio).ready(welcome() { --}}
			<p>My name is James Cowart. I am a Web/Software Developer with 10 years of experience. I went to Auburn University where I studied Electrical Engineering and earned my Bachelor's Degree in Computer Science. I earned my certification in Full Stack Web Development at the Georgia Institute of Technology. Through my most recent work as a Developer at Marcia Brenner Associates, I was able to pursue my interests in back-end software and logic, a passion that originated from my deep-seated love of mathematics and algorithmic problem-solving.</p>
			<p>Throughout my time as a developer, I have gained experience working with a variety of libraries. I have passions in front-end and back-end development. I am eager to continue to grow as a Full Stack Developer.</p>
			<p><strong>Frontend:</strong> React, HTML, CSS, SCSS, JavaScript, ES6, jQuery, AngularJS, APIs, Bootstrap, Handlebars</p>
			<p><strong>Backend:</strong> Node, NPM, Express, SQL, MySQL, Visual Studio, Firebase, MongoDB, GoogleCloud, AWS, Heroku, Java, C#</p>
			<p><strong>Platforms:</strong> WordPress, PowerSchool, SquareSpace</p>
			<p><strong>Design:</strong> Photoshop, UX/UI, Design Systems</p>
    	</div>
	</div>
</div>