<div class="main-info">
    <h2 id="title" style="text-align: center;">JAMES COWART</h2>
    <ul>
      <li><strong>Full-Stack Web Developer</strong></li>
		  <!--<li><strong>Email :</strong> <a href="mailto:james.p.cowart@gmail.com">james.p.cowart@gmail.com</a></li>-->
    </ul>
</div>