<div class="main-info">
    <h2 id="title" style="text-align: center;">JAMES COWART</h2>
    <ul>
		<li><strong>Age :</strong> 28 Years</li>
		<li><strong>Date of Birth :</strong> 01-21-1990</li>
		<li><strong>Email :</strong> <a href="mailto:james.p.cowart@gmail.com">james.p.cowart@gmail.com</a></li>
		<li><strong>Phone :</strong> 404-630-1124</li>
    </ul>
</div>