<div class="main-menu">
	<img src="assets/img/portfolio-bio-image.jpg" width="300px" id="bio-headshot">
	<h3>James Cowart</h3>
	<div class="menu-social">
		<div class="social-icons">
			<a href="https://twitter.com/Cowartbunga" target="_blank" class="fa fa-twitter"></a>
			<a href="https://github.com/homsau" target="_blank" class="fa fa-github"></a>
			<a href="https://www.linkedin.com/in/james-cowart-9aa3797a/" target="_blank" class="fa fa-linkedin"></a>
		</div>
	</div>
	<div class="menu-nav">
		<ul class="nav">
			<li>
				<a id="home" href="#" class="active"><i class="fa fa-home"></i>Home</a>
			</li>
			<li>
				<a id="about-me" href="#"><i class="fa fa-user-circle-o"></i>About Me</a>
			</li>
			<li>
				<a id="portfolio" href="#"><i class="fa fa-briefcase"></i>Portfolio</a>
			</li>
			{{!-- <li>
				<a id="contact" href="#"><i class="fa fa-address-card-o"></i>Contact</a>
			</li> --}}
			<li>
				<a id="resume" target="_blank" href="/assets/img/james-resume.pdf"><i class="fa fa-file-o"></i>Resume</a>
			</li>
		</ul>
	</div>
</div>