<!-- P1 State of the World -->
<div class="modal fade" id="modal-state-of-the-world" tabindex="-1" role="dialog" aria-labelledby="modal-tate-of-the-world-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">State of the World</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/project1-State-of-the-World.jpg" alt="State of the World">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>State of the World</h4>
						<p>The State of the World app has some of the latest and greatest features to give our users the most effective analysis of the world’s condition at any given time.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://homsau.github.io/State-of-the-World/" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- P2 Playlisted -->
<div class="modal fade" id="modal-playlisted" tabindex="-1" role="dialog" aria-labelledby="modal-playlisted-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">Playlisted</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/project2-Playlisted.jpg" alt="Playlisted">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>Music That Fits</h4>
						<p>Playlisted is an app that finds the soundtracks that suits your life.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://rocky-brook-81163.herokuapp.com/" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- HW3 Psychic Game -->
<div class="modal fade" id="modal-psychic-game" tabindex="-1" role="dialog" aria-labelledby="modal-psychic-game-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">Psychic Game</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/hw3-Psychic-Game.jpg" alt="Psychic Game">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>Psychic Game</h4>
						<p>In this game, you will have 9 chances to guess the randomly generated guess of the computer.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://homsau.github.io/Psychic-Game/" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- HW4 Crystals Collector -->
<div class="modal fade" id="modal-crystals-collector" tabindex="-1" role="dialog" aria-labelledby="modal-crystals-collector-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">Crystals Collector</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/hw4-Crystals-Collector.jpg" alt="Crystals Collector">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>Crystals Collector</h4>
						<p>In this game, you will get a randomly generated number. Each rupee will equal a random number. The objective is to get to the total number given by clicking on each rupee.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://homsau.github.io/Crystals-Collector/" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- HW5 Trivia Game -->
<div class="modal fade" id="modal-trivia-game" tabindex="-1" role="dialog" aria-labelledby="modal-trivia-game-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">Trivia Game</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/hw5-TriviaGame.jpg" alt="Trivia Game">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>Trivia Game</h4>
						<p>Test your knowledge of the Halo Universe! Use your skills to see how many questions out of 10 you can get correct!</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://homsau.github.io/TriviaGame/" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- HW6 GifTastic -->
<div class="modal fade" id="modal-giftastic" tabindex="-1" role="dialog" aria-labelledby="modal-giftastic-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">GifTastic</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/hw6-GifTastic.gif" alt="GifTastic">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>GifTastic</h4>
						<p>Click on a button or type in a new one to search for your favorite Pixar GIFs!</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://homsau.github.io/GifTastic/" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- HW7 Train Scheduler -->
<div class="modal fade" id="modal-train-scheduler" tabindex="-1" role="dialog" aria-labelledby="modal-train-scheduler-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">Train Scheduler</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/hw7-Train-Scheduler.jpg" alt="Train Scheduler">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>Train Scheduler</h4>
						<p>This app will tell you when the next arrival time is as well as how many minutes until the next train!</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://homsau.github.io/Train-Scheduler/" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- HW8 LIRI Bot -->
<div class="modal fade" id="modal-liri-bot" tabindex="-1" role="dialog" aria-labelledby="modal-liri-bot-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">LIRI Bot</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/hw8-LIRI-Bot.jpg" alt="LIRI Bot">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>LIRI Bot</h4>
						<p>LIRI is a Language Interpretation and Recognition Interface. It will display movie info, music info, and display tweets!</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://github.com/homsau/liri-node-app" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- HW10 Bamazon -->
<div class="modal fade" id="modal-bamazon" tabindex="-1" role="dialog" aria-labelledby="modal-bamazon-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">Bamazon</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/hw10-Bamazon.jpg" alt="Bamazon">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>Bamazon</h4>
						<p>This application implements a simple command line based storefront using the npm inquirer package and the MySQL database backend together with the npm mysql package.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://github.com/homsau/Bamazon" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- HW11 Friend Finder -->
<div class="modal fade" id="modal-friend-finder" tabindex="-1" role="dialog" aria-labelledby="modal-friend-finder-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">Friend Finder</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/hw11-Friend-Finder.jpg" alt="Friend Finder">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>Friend Finder</h4>
						<p>Friend Finder is an app that has a ten question quiz to match the user with a new friend!</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://gt-friend-finder-2018.herokuapp.com/" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- HW12 Eat-Da-Burger -->
<div class="modal fade" id="modal-eat-da-burger" tabindex="-1" role="dialog" aria-labelledby="modal-eat-da-burger-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">Eat-Da-Burger</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/hw12-Eat-Da-Burger.gif" alt="Eat-Da-Burger">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>Eat-Da-Burger</h4>
						<p>Eat Da Burger is an app showing a list of burgers available and an option to eat them or create more!</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://gt-eat-da-burger-2018.herokuapp.com/" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- HW13 Mongo Scraper -->
<div class="modal fade" id="modal-mongo-scraper" tabindex="-1" role="dialog" aria-labelledby="modal-mongo-scraper-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">Mongo Scraper</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/hw13-Mongo-Scraper.jpg" alt="Mongo Scraper">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>Mongo Scraper</h4>
						<p>This app scrapes the most recent movie trailers from IMDB and lets users save movies and leave comments on them!</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://gt-mongo-scraper.herokuapp.com/" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>