<!-- WP1 ArtsNow Learning -->
<div class="modal fade" id="modal-artsnow" tabindex="-1" role="dialog" aria-labelledby="modal-artsnow-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">ArtsNow Learning</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row modal-row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/portfolio-artsnow.jpg" alt="ArtsNow Learning">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>ArtsNow</h4>
						<p>Teaching and Learning Across the Curriculum.</p>
						<p><em>HTML, CSS, Wordpress, JavaScript</em></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://artsnowlearning.org/" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- WP2 Innovation Compounding -->
<div class="modal fade" id="modal-innovation" tabindex="-1" role="dialog" aria-labelledby="modal-innovation-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">Innovation Compounding</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row modal-row">
					<div class="white-bg modal-col col-lg-6 col-md-12">
						<img src="/assets/img/portfolio-innovation.jpg" alt="Innovation Compounding">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>Innovation Compounding</h4>
						<p>Doctors and Patients log in securely to access personal medical and pharmaceutical information.</p>
						<p><em>HTML, CSS, Wordpress, JavaScript</em></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://innovationcompounding.com/" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- WP2 Rally Foundation -->
<div class="modal fade" id="modal-rally" tabindex="-1" role="dialog" aria-labelledby="modal-rally-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">Rally Foundation</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row modal-row">
					<div class="white-bg modal-col col-lg-6 col-md-12">
						<img src="/assets/img/portfolio-rally.jpg" alt="Rally Foundation">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>Rally Foundation</h4>
						<p>Contribute and support to children!</br>Help Rally raise funds for life-saving childhood cancer research.</p>
						<p><em>HTML, CSS, Wordpress, JavaScript</em></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://rallyfoundation.org/" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- P1 State of the World -->
<div class="modal fade" id="modal-state-of-the-world" tabindex="-1" role="dialog" aria-labelledby="modal-tate-of-the-world-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">State of the World</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row modal-row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/project1-State-of-the-World.jpg" alt="State of the World">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>State of the World</h4>
						<p>The State of the World app has some of the latest and greatest features to give our users the most effective analysis of the world’s condition at any given time.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://homsau.github.io/State-of-the-World/" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- P2 Playlisted -->
<div class="modal fade" id="modal-playlisted" tabindex="-1" role="dialog" aria-labelledby="modal-playlisted-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">Playlisted</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row modal-row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/project2-Playlisted.jpg" alt="Playlisted">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>Music That Fits</h4>
						<p>Playlisted is an app that finds the soundtracks that suits your life.</p>
						<p><em>HTML, CSS, JavaScript, Node, Express, MySQL, Handlebars</em></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://playlisted-music-72435726d22b.herokuapp.com/" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- P3 Brewhound -->
<div class="modal fade" id="modal-brewhound" tabindex="-1" role="dialog" aria-labelledby="modal-brewhoud-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">Brewhound</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row modal-row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/project3-Brewhound.jpg" alt="Brewhound">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>Brewhound</h4>
						<p>Atlanta brewery locator with check-in functionality and specialty passport stamps.</p>
						<p><em>React, HTML, CSS, JavaScript, Node, MongoDB</em></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://brewhound.herokuapp.com/" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- TreeValueMatrix -->
<div class="modal fade" id="modal-tvm" tabindex="-1" role="dialog" aria-labelledby="modal-tvm-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">TreeValueMatrix</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row modal-row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/portfolio-tvm.jpg" alt="TreeValueMatrix">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>TreeValueMatrix</h4>
						<p>Tree Value Matrix is a field tool for arborists, ecologists, environmentalists, and other users that need to evaluate the value of a tree based on several relevant qualities.</p>
						<p><em>React, React Native, RESTful APIs, JavaScript, JSX, CSS</em></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://apps.apple.com/us/app/treevaluematrix/id1501898637" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">App Store</button></a>
				<a href="https://play.google.com/store/apps/details?id=com.ecoaddendum.treevaluematrix&hl=en_US&gl=US" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">Google Play</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Wedding Website -->
<div class="modal fade" id="modal-wedding" tabindex="-1" role="dialog" aria-labelledby="modal-wedding" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">Wedding Website</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row modal-row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/stock-wedding.jpg" alt="Wedding Website">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>Wedding Website</h4>
						<p>Welcome to a slice of our lives!</p>
						<p>We got married on 10/10/2020!</p>
						<p><em>React, Node.js, ES6+, SCSS, and Heroku</em></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="http://www.stock-wedding.online/" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Caution Clothing -->
<div class="modal fade" id="modal-store" tabindex="-1" role="dialog" aria-labelledby="modal-store" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modal-title">Caution Clothing</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row modal-row">
					<div class="modal-col col-lg-6 col-md-12">
						<img src="/assets/img/portfolio-caution-clothing.jpg" alt="Caution Clothing">
					</div>
					<div class="modal-col modal-col-desc col-lg-6 col-md-12">
						<h4>Caution Clothing</h4>
						<p>Store based off React!</p>
						<p><strong>Caution:</strong> the items in the store are there for test purposes only.</p>
						<p><em>React, SCSS, Firebase Authentication, Google Sign-In, Redux, Stripe</em></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="https://cautionclothing.herokuapp.com/" target="_blank"><button type="button" class="modal-project-button btn btn-secondary">View</button></a>
				<button type="button" class="modal-close-button btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>