<div style="display: flex; height: 100%;">
	<div class="main-info">
		<h2 id="title" style="text-align: center;">PORTFOLIO</h2>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">

		<!-- Indicators -->
		<ul class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ul>
		
		<!-- The slideshow -->
		<div class="carousel-inner">
			<div class="carousel-item active">
			<img src="/assets/img/project2-Playlisted.jpg" alt="Playliste" width="500" height="400">
			</div>
			<div class="carousel-item">
			<img src="/assets/img/hw10-Bamazon.jpg" alt="Bamazon" width="500" height="400">
			</div>
			<div class="carousel-item">
			<img src="/assets/img/hw11-Friend-Finder.jpg" alt="Friend Finder" width="500" height="400">
			</div>
		</div>
		
		<!-- Left and right controls -->
		<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#myCarousel" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
		</div>
	</div>
</div>