<div style="display: flex; height: 100%;">
    <div class="main-info">
        <h2 id="title" style="text-align: center;">SUBMISSION SUCCESSFUL</h2>
        <ul>
            <li>Thank you for contacting me! I will get back to you as soon as possible.</li>
        </ul>
    </div>
</div>