<div class="pages home">
  <div class="main-info">
    <h2 id="title" style="text-align: center;">JAMES COWART</h2>
    <ul>
      <li><strong>Age :</strong> 28 Years</li>
      <li><strong>Date of Birth :</strong> 01-21-1990</li>
      <li><strong>Email :</strong> <a href="mailto:james.p.cowart@gmail.com">james.p.cowart@gmail.com</a></li>
      <li><strong>Phone :</strong> 404-630-1124</li>
    </ul>
  </div>
</div>

<div class="pages about-me">
  <div style="display: flex; height: 100%;">
    <div class="main-info">
      <img src="/assets/img/hdr-family.jpg" id="about-me-hdr">
      <h2 id="title" style="text-align: center;">ABOUT ME</h2>
      <p>My name is James Cowart; I went to Auburn University and studied Electrical Engineering. For the last several years, I have worked for a brand & data service company named Big Picture Digital. Over the years, my skills in HTML, CSS, JavaScript, and Wordpress have excelled. I have always loved Math, so problem solving using algorithms had my interest piqued when I first began. I already work in Web Development, but completing the Bootcamp at Georgia Tech will open several doors in the future.</p>
    </div>
  </div>
</div>

<div class="pages portfolio">
  <div class="main-info">
    <h2 id="title" style="text-align: center;">PORTFOLIO</h2>
    <ul>
      <li><strong>Age :</strong> 28 Years</li>
      <li><strong>Date of Birth :</strong> 01-21-1990</li>
      <li><strong>Email :</strong> <a href="mailto:james.p.cowart@gmail.com">james.p.cowart@gmail.com</a></li>
      <li><strong>Phone :</strong> 404-630-1124</li>
    </ul>
  </div>
</div>

<div class="pages contact">
  <div style="display: flex; height: 100%;">
    <div class="main-info">
      <h2 id="title" style="text-align: center;">CONTACT</h2>
      <form id="contact-form" method="post" action="/views/contact.php" role="form">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="form_name">First and Last Name:</label>
              <input id="form_name name" type="text" name="name" class="form-control" placeholder="John Smith" required="required" data-error="Firstname is required.">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="form_lastname">Email:</label>
              <input id="form_lastname email" type="text" name="email" class="form-control" placeholder="example@gmail.com" required="required" data-error="Lastname is required.">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="form_message">Message:</label>
              <textarea id="form_message message" name="message" class="form-control" rows="4" data-error="Please,leave us a message."></textarea>
            </div>
          </div>
          <div class="col-md-12" style="margin-bottom:20px;">
            <input type="submit" name="submit" class="btn btn-success btn-send" value="Submit">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>