<div class="pages home">
  {{> home}}
</div>

<div class="pages about-me">
  {{> about-me}}
</div>

<div class="pages portfolio">
  {{> portfolio}}
</div>

{{!-- <div class="pages contact">
  {{> contact}}
</div> --}}

<div class="pages thank-you">
  {{> thank-you}}
</div>